*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

.backgroundImage {
  background-image: url("./images/back.png");
  background-size: auto;
  background-position: center;
  height: 100vh;
}

.logo {
  height: 70px;
  margin-left: 46.5vw;
  margin-right: 46.5vw;
  padding-top: 25px;
}

.header {
  margin-top: 10vh;
  max-width: 1400px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border: 1.6px solid;
  border-radius: 1.5rem;
  border-color: #2aff78;
}

.h1 {
  padding-top: 90px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.h2 {
  padding-top: 15px;
  color: #2aff78;
  font-weight: 500;
  text-align: center;
}



.file {
  padding-top: 105px;
  margin-left: 41%;
  border-color: #2aff78;
  margin-top: 50px;
  width: 230px;
}

.header-lines {
  margin-top: -270px;
}

.dragger {
  margin-left: 37vw;
}

.dragger-div{
  margin-top: 10vh;
}